   
body{
    background-image: url("https://w-dog.ru/wallpapers/2/19/501625857244167/kosmos-fantastika-mirozdanie-planeta-gorizont-ochertaniya-svet-zvezda-vosxod-bezdna-tma-prostranstvo-tumannosti-rossyp-zv-zd.jpg");
    background-size: cover;
    background-position: fixed;
    overflow: hidden;
}


#clock {

  float: right;
  margin: 5%;
  font-size: 70px;
  color: white;
  opacity: 0.8;
}
  .container{
   width: 400px;
   height: 400px;
   margin: -250px auto;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   background-color: aqua;
   border-radius: 40px;
 
  }

  .circle{
   width: 120px;
   height: 120px;
   background: black;
   margin: 5px;
   font-size: 108px;
   font-family: sans-serif;
   text-align: center;
   color: blue;
   cursor: pointer;
   float: left;
   border-radius: 60px;
  }

    .back-button{
      position: absolute; 
      right: 100px;
      bottom: 270px;
     width: 80px;
     height: 40px;
   
    }